.cards:hover {
    scale: 1.05;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}
.cards{


    transition: all 0.1s ease-out;
    user-select: none;
}

.lyric-box{
    @media(max-width: 1200px) {
        max-width: 500px;
    }

}
.lyric-box-scroll{
    transition: all 0.5s ease-out;
}
#double{
    width: fit-content;

    @media (max-width: 992px){
        width: 100%;
    }
}
.avatar{
    transition: ease-out all 0.1s;
}
.t{
    padding-bottom: 20px;

    @media (min-width: 768px){
        padding-bottom: 0px;
    }
}
#listTmb{
    max-width: 100%;
    margin: auto;
    @media(max-width: $mantine-breakpoint-sm){
        max-width: 70%;
    }

}

.right-hand{
    transition: all 0.15s ease-in-out;
    color: rgba(var(--bs-secondary-rgb));
}
.right-hand:hover{
    color: rgba(var(--bs-light-rgb));
}

.select{
    @media(max-width: 1200px) {
        max-width: 500px;
    }
}
.pl-item{
    width: 5rem;
    height: 5rem;
    transition: all 0.15s ease-out;
}
.pl-item:hover{
    filter: brightness(80%);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
